.view-file_window {
    display: flex;

    position: fixed;

    top: 50%;
    left: 50%;

    background-color: #AAABB6;

    padding: 6px;
    padding-top: 24px;
}

.view-file_window img {
    align-self: bottom;
}